.sticky {
	display: block;
}

.byline,
.updated:not(.published){
	display: none;
}

.site-content {
	overflow: hidden;
	min-height: calc(100vh - 107px);
	background-color: #fff;
}

i.ion {
	vertical-align: middle;
}

// .dark-mode-logo {
// 	display: none !important;
// }

/*--------------------------------------------------------------
## Dark mode
--------------------------------------------------------------*/

.dark-scheme {
	&,
	.woo-cart_item_values p span,
	.select-holder select,
	.search-form .search-submit, 
	.woocommerce-product-search .search-submit {
		color: rgba(#fff, .65);
	}

	.heading {
		.subtitle {
			color: rgba(#fff, .8);
		}
	}

	.socialbar.outline a,
	.socialbar.flat a,
	.socialbar.inline a,
	.clb-social a,
	.clb-social,
	.search-global.fixed,
	.clb-hamburger,
	.site-header,
	.price,
	.tabNav_link.active,
	.clb-clb-scroll-top,
	.product-item-price,
	.woo-cart_item_name .woo-c_product > a,
	.loadmore-text,
	.portfolio-sorting li,
	.ohio-dynamic-text-sc,
	.clb-blank-image i,
	.ohio-slider-sc .btn-round .ion,
	.clb-slider-count,
	.menu-list-price .regular-price,
	.btn-round-light:not(.cart):not(.clb-hamburger) .ion,
	.btn-link {
		color: #fff;
	}

	.site-content,
	.horizontal_accordionItem {
		background-color: #1a191d;
	}

	.horizontal_accordionItem {
		&:hover {
			background-color: lighten(#1a191d, .5%);
		}
	}

	.sticky-nav,
	.notification-bar,
	.clb-popup-product .woo_c-product,
	.header-fixed .clb-hamburger,
	.site-header:not(.header-5) .sub-menu,
	.submenu_cart,
	.clb-mode-switcher,
	.sticky-nav_item h6,
	.sticky-product,
	.sticky-product .price,
	.clb-popup-product .price,
	.clb-popup-product .woo_c-product-details-title,
	.site-header.header-fixed,
	.clb-share-bar .socialbar span,
	.clb-subscribe,
	.sticky-product-desc .btn,
	.sticky-nav .btn-round-light .ion,
	.clb-subscribe .btn {
		color: initial;
	}

	// .logo {
	// 	.dark-mode-logo {
	// 		display: none !important;
	// 	}

	// 	.light-mode-logo {
	// 		display: flex !important;
	// 	}
	// }

	.site-title {
		.for-onepage {
			.light {
				display: flex !important;
			}
		}

		.logo,
		.mobile-logo {
			display: none !important;
		}
	}

	.clb__dark_mode_spacer {
		background-color: #1a191d !important;
	}
	
	.clb__dark_mode_fill {
		.vc_column-inner {
			background-color: rgba(#1a191d, .95) !important;
		}
	}

	.clb__dark_mode_image {
		img {
			mix-blend-mode: multiply;
		}
	}


	// Border color

	.project-page .project-meta li,
	table td, table th, 
	.wp-block-table td, 
	.wp-block-table th,
	.socialbar.outline a,
	.woo_c-product-details-variations,
	.icon-box.shape-border .icon-box-icon,
	.wp-block-quote:not(.is-large):not(.is-style-large),
	.woo_c-product-details-variations .single_variation_wrap .woo-variation-price,
	.contact-form.outline input[type="email"],
	blockquote, q {
		border-color: rgba(#fff, .15);
	}

	.circle-progress-bar .circle .progress__meter {
		stroke: rgba(#fff, .1);
	}

	// Background color

	&.single-post .widget_ohio_widget_about_author,
	.woo_c-product .single-product-tabs .tab-items-container,
	.clb-woo-sidebar,
	.menu.menu-blank,
	.blog-grid.boxed .blog-grid-content,
	.blog-grid-type-4:not(.without-media),
	.accordion:not(.outline) .accordionItem_title,
	.service:hover,
	.product-category--boxed {
		background-color: rgba(#fff, .02);
	}
	
	.comments-container {
		background: transparent;
	}

	.btn:not(.btn-link):not(.btn-flat):not(.btn-brand):not(.btn-optional) {
		background-color: rgba(#000, .6);
		border-color: rgba(#000, .6);

		&:hover {
			background-color: $color_brand;
			border-color: $color_brand;
		}
	}

	input[type="text"],
	input[type="password"],
	input[type="number"],
	input[type="email"],
	input[type="tel"],
	.select-holder select,
	textarea {
		color: #fff;
		background-color: rgba(#fff, .05);

		&.outline {
			// background-color: $color_fill_light;
			// border-color: $color_fill_light;

			&:hover {
				
			}

			&:focus {
				// background-color: $color_fill_light;
			}
		}

		&:hover {
			
		}

		&:focus {
			// background-color: rgba($color_dark, .07);
		}
	}

	.clb-popup {
		.clb-subscribe {
			input[type="email"] {
				background: $color_fill_light;
			}
		}
	}
	
	@for $i from 1 through 6 {
	    h#{7 - $i} {
	        color: #fff;
	    }
	}

	@for $i from 1 through 6 {
	    h#{7 - $i} {
	    	&.clb-subscribe-content-headline,
	    	&.sticky-nav_heading,
	    	&.cart_heading_title {
	    		color: initial;
	    	}
	    }
	}
}

/*--------------------------------------------------------------
## Empty Container
--------------------------------------------------------------*/

.clb-blank {
	display: flex;
	max-width: 30vw;
	align-items: center;
	flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100%;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    @include spacer40();

	&-image {
		background-color: rgba($color_error, .08);
	    width: 90px;
	    height: 90px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    @include border_radius(50px);

	    i {
	    	font-size: 40px;
	    	color: $color_text;
	    }

	    svg {
	    	width: 20px;
			vertical-align: middle;
			fill: $color_text;
	    }
	}

	&-headline {
		width: 100%;
		text-align: center;    
		margin: 20px 0px 10px;
		@include fluid-type($font_size_h4, 32px);
	}

	&-details {
		margin: 0px 0px 30px;
		font-size: $font_size_large;
		line-height: $font_lh;

		@include sm_screen() {
			max-width: 100%;
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	&-search {
		min-width: 300px;
	}

	// Mobile styles

	@include sm_screen() {
		margin-top: 15vh;
		max-width: 100%;

		&-search {
			min-width: 100%;
		}
	}
}

.header-cap + .clb-blank {
	margin-top: calc(20vh - 130px);
}

/*--------------------------------------------------------------
## Authorization page
--------------------------------------------------------------*/
.page-auth {
	background: #444 url('./images/bg-full.jpg');
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100%;
	position: relative;

	// overlay
	&:before {
		content: '';
		background: rgba(52,52,54,.75);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.page-auth-wrap {
		text-align: center;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;

		form {
			background: #fff;
			width: 460px;
			margin: 0 auto;
			padding: 60px;

			input {
				margin-bottom: 15px;
			}

			button.btn {
				margin-top: 0;
			}
		}
	}
}

// Password protected form

.post-password-form {
	text-align: left;
	padding: 2em 0px;

	@include lg_screen() {
		width: 50%;
	}

	input[type="password"] {
		margin: 8px 0px 15px;
	}
}

/*--------------------------------------------------------------
## Search page
--------------------------------------------------------------*/

.search.woocommerce {
	.result {
		display: none;
	}
}


/*--------------------------------------------------------------
## Global page animation
--------------------------------------------------------------*/
.global-page-animation {
	&.global-page-animation-active > #page {
		opacity: 0;
		margin-top: -25px;
		animation: globalPageFadeInAnim .5s 1;
		animation-fill-mode: forwards;	
	}

	&.global-page-animation-fade-out {
		> #page {
			animation: globalPageFadeOutAnim .5s 1;
			animation-fill-mode: forwards;
		}
	}
}

@keyframes globalPageFadeInAnim {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		margin-top: 0px;
	}
}

@keyframes globalPageFadeOutAnim {
	0% {
		opacity: 1;
		margin-top: 0px;
	}
	100% {
		opacity: 0;
		margin-top: -25px;
	}
}


