.page-container {
	max-width: $size_wrapped-container;
	margin: 0 auto;
	padding: 0px $spacer_25;
	position: relative;

	@include note_screen() {
		max-width: 1260px;
	}

	@include sm_screen () {
		padding: 0px $spacer_20;
	}

	&.full {
		max-width: none !important;
		padding: 0;

		@include sm_screen () {
			padding-left: $spacer_20 !important;
			padding-right: $spacer_20 !important;
		}
	}

	&.top-offset {
		padding-top: 80px;

		@include sm_screen () {
			padding-top: 30px;
		}
	}

	&.bottom-offset {
		padding-bottom: 80px;

		@include sm_screen () {
			padding-bottom: 30px;
		}
	}

	&:after {
		content: '';
		clear: both;
		display: table;
	}
}

// Custom page width

@include lg_screen () {
	.single-post:not(.single-post-sidebar),
	.woocommerce-account,
	.woocommerce-cart,
	.woocommerce-checkout,
	.woocommerce-wishlist {
		.site-content,
		.clb-page-headline,
		.breadcrumbs {
			.page-container {
				.vc_row:not(.vc_row-reset) {
					padding-left: calc(100%/15 * 1);
					padding-right: calc(100%/15 * 1);
				}
			}
		}
	}

	.woocommerce-account:not(.logged-in) {
		.site-content {
			.page-container {
				.vc_row {
					padding-left: calc(100%/15 * 3);
					padding-right: calc(100%/15 * 3);
				}
			}
		}
	}
}

.boxed-container {
	max-width: $size_wrapped-container;
	margin: 0px auto;
	z-index: 2;
	position: relative;
	overflow: hidden;
}

.page-content {
	width: 100%;
	float: left;

	&.with-left-sidebar {
		width: 75%;
		float: right;
	}

	&.with-right-sidebar {
		width: 75%;
		float: left;
	}

	@include sm_screen(){
		&.with-left-sidebar,
		&.with-right-sidebar {
			width: 100%;
		}
	}
}

.single-post {
	.page-content {
		&.with-left-sidebar,
		&.with-right-sidebar {
			.content-area {
				.vc_col-lg-8 {
					left: auto;
					width: 100%;
				}
			}
		}
	}
}